/* OVERALL STUFF */
/* Resets default margins for browsers*/
* {
    margin: 0;
    padding: 0;
}

body{
    /* background-color: wheat; */
    background-color: #9EABBF;
    font-family: 'Montserrat', sans-serif;
}


/* PROJECT STUFF */

#project{
    padding-top: 200px;
}


.project-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, calc(800px / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 100px;
}

.projOne{
    padding-top: 30px;
}


.descOne{
    margin-top: 115px;
    font-size: 20px;
}

.projTwo{
    padding-top: 30px;
}


.descTwo{
    margin-top: 115px;
    font-size: 20px;
}

.projThree{
    padding-top: 30px;
}

.descThree{
    margin-top: 115px;
    font-size: 20px;
}





img{
    width: 300px;
    object-fit: cover;
}



/* NAVBAR STUFF */

nav{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: salmon;


    display: grid;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, calc(800px / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}

nav ul {
    padding-top: 35px;
}

nav h1{ 
}

nav li{
    display: inline-block;
    margin-left: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

nav a{
    text-decoration: none;
}

nav a:active{
    color: white;
}




